# EJERCICIOS PAIR

#**LISTAS**#

1. Duplicar elementos de una lista. Descripción: Dada una lista de números, duplica cada elemento en la lista.

In [1]:
# EJEMPLO: dada la siguiente lista el output esperado es:
lista = [2, 4, 6, 8]

[2, 4, 6, 8, 2, 4, 6, 8]

[2, 4, 6, 8, 2, 4, 6, 8]

In [2]:
nueva_lista = lista + lista
print(nueva_lista)

[2, 4, 6, 8, 2, 4, 6, 8]

2. Combinar dos listas. Descripción: Dadas dos listas, crea una nueva lista que contenga todos los elementos de ambas listas.

In [3]:
# dadas las siguientes listas el output esperado es:
lista1 = [1, 2, 3]
lista2 = [4, 5, 6]

[1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [4]:
lista1.extend(lista2)
print(lista1)

[1, 2, 3, 4, 5, 6]

3. Calcular la suma de una lista de números

In [5]:
len(lista1)
suma = lista1[0] + lista1[1] + lista1[2] + lista1[3] + lista1[4] + lista1[5]
print(suma)

21

4. Encontrar valor máximo en una lista

In [6]:
print(max(lista1))

6

5. Calcular longitud de una lista

In [7]:
print(len(lista1))

6

6. Encontrar el indice de un elemento en una lista

In [8]:
valor = 4
print(lista1)
print(lista1.index(4))

[1, 2, 3, 4, 5, 6]
3

7. Contar ocurrencias de un elemento

In [9]:
lista3 = [30, 27, 30, 50, 40, 45, 30]
print(lista3.count(30))

3

8. Obtener una sublista de una lista

In [10]:
colores = ['naranja', 'amarillo', 'rojo', 'verde', 'blanco', 'azul', 'negro']
colores2 = colores[2:5]

print(colores2)

['rojo', 'verde', 'blanco']

9. Obtén el último elemento de una lista

In [11]:
print(colores[-1])

negro

*Ejercicio 10 está repetido*

11. Obtener una sublista de una lista

In [12]:
colores3 = colores[1:3]
print(colores3)

['amarillo', 'rojo']

12. Reemplazar un elemento de una lista

In [4]:
print(colores)
print(colores.index('rojo'))
colores.pop(2)
colores.insert(2, 'rosa')
print(colores)

['naranja', 'amarillo', 'rojo', 'verde', 'blanco', 'azul', 'negro']
2
['naranja', 'amarillo', 'rosa', 'verde', 'blanco', 'azul', 'negro']

13. Obtener una lista inversa

In [16]:
colorescopia = colores.copy()
colorescopia.reverse()
print(colorescopia)

['negro', 'azul', 'blanco', 'verde', 'rojo', 'amarillo', 'naranja']

14. Ordenar una lista en orden ascendente

In [19]:
print(lista3)
lista_ordenada = sorted(lista3)
print('La lista ordenada es', lista_ordenada)

[30, 27, 30, 50, 40, 45, 30]
La lista ordenada es [27, 30, 30, 30, 40, 45, 50]

#**TUPLAS**#

1. Acceder al primer elemento de una tupla

In [1]:
nombres1 = ('Laura', 'Rebeca', 'Cristina', 'Ana', 'Lorena', 'Sofía')
print(nombres1)
print(nombres1[0])

('Laura', 'Rebeca', 'Cristina', 'Ana', 'Lorena', 'Sofía')
Laura

2. Acceder al último elemento de una tupla

In [2]:
print(nombres1[-1])

Sofía

3. Obtener la longitud de una tupla

In [3]:
print(len(nombres1))

6

4. Concatenar dos tuplas

In [4]:
nombres2 = ('Carlos', 'Jorge', 'Pedro', 'Iván', 'Eustaquio')
print(nombres1)
print(nombres2)

nuevatupla = nombres1 + nombres2
print('La nueva tupla es', nuevatupla)

('Laura', 'Rebeca', 'Cristina', 'Ana', 'Lorena', 'Sofía')
('Carlos', 'Jorge', 'Pedro', 'Iván', 'Eustaquio')
La nueva tupla es ('Laura', 'Rebeca', 'Cristina', 'Ana', 'Lorena', 'Sofía', 'Carlos', 'Jorge', 'Pedro', 'Iván', 'Eustaquio')

5. Encontrar un índice en un elemento

In [5]:
print(nombres1)
valor2 = 'Rebeca'
print(valor2, 'corresponde al índice', nombres1.index('Rebeca'))

('Laura', 'Rebeca', 'Cristina', 'Ana', 'Lorena', 'Sofía')
Rebeca corresponde al índice 1

6. Contar ocurrencias de un elemento en una tupla

In [6]:
tupla_num = (20, 40, 12, 60, 35, 35, 12, 12)
valor3 = 12
print(valor3, 'aparece', tupla_num.count(12), 'veces')

12 aparece 3 veces

7. Obtener una subtuple de una tupla

In [2]:
lista_tupla_nueva1 = ['a', 'b', 'c', 'd']
subtupla_nueva1 = ('e', 'f')
lista_tupla_nueva1.insert(-1, subtupla_nueva1)
tupla_nueva1 = tuple(lista_tupla_nueva1)
print(tupla_nueva1)

('a', 'b', 'c', ('e', 'f'), 'd')

8. Invertir una tupla

In [8]:
lista_tupla = list(tupla_num)
lista_tupla.reverse()
print(lista_tupla)

[12, 12, 35, 35, 60, 12, 40, 20]

In [10]:
tupla_num_nueva = tuple(lista_tupla)
print(tupla_num_nueva)

(12, 12, 35, 35, 60, 12, 40, 20)